@import "_variables";
@font-face {
    font-family: 'Segoe UI-normal';
    src: url('#{$aml_asset_path}/fonts/SegoeUI.woff2') format('woff2'),
        url('#{$aml_asset_path}/fonts/SegoeUI.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-size: 1rem;
}

@font-face {
    font-family: 'Segoe UI-italic';
    src: url('#{$aml_asset_path}/fonts/SegoeUI-BoldItalic.woff2') format('woff2'),
        url('#{$aml_asset_path}/fonts/SegoeUI-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Segoe UI-bold';
    src: url('#{$aml_asset_path}/fonts/SegoeUI-Bold.woff2') format('woff2'),
        url('#{$aml_asset_path}/fonts/SegoeUI-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}



// Bootstrap
@import '~bootstrap/scss/bootstrap';

body{
    background-color:#fff;
}
.mobile{
    a{
        &.nav-link{
            color: #fff !important;
        }
    }
}
article{
    &.page{
        margin-bottom: 30px;
    }
}
#mini-head{
    background-color: $aml-primary-color;
    color: #fff;
    width: 100%;
    padding: 10px 0;
    h2{
        display: none;
    }
    ul{
        padding:0px;
        margin: 0px;
        @include media-breakpoint-up(xs){
            overflow-x: auto;
            overflow-y: hidden;
            white-space: nowrap;
        }
        li{
            display: inline;
            @include media-breakpoint-up(xs){
                display:inline-block;
            }
            @include media-breakpoint-up(md){
                margin-right: 15px;
            }
            &.tel{
                &:before{
                    font-family: 'FontAwesome';
                    content: '\f098';
                    position: relative;
                    margin-right: 5px;
                    font-size: 110%;
                }
            }
            &.email{
                &:before{
                    font-family: 'FontAwesome';
                    content: '\f003';
                    position: relative;
                    margin-right: 5px;
                    font-size: 110%;
                }
            }
            &:first-child{
                @include media-breakpoint-up(xs){
                    margin-right:15px;
                }
            }
        }
    }
    section{
        float: left;
        @include media-breakpoint-up(xs){
            width:100%;
        }
    }
}

section{
    &#home-page{
        .overlay{
            width: 100%; /* Full width (cover the whole page) */
            height: 100%; /* Full height (cover the whole page) */
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0,0,0,0.5); /* Black background with opacity */
            z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
        }
        .content{
            text-align: center;
            margin: 7rem auto;
            vertical-align: middle;
            color: #fff;
            @include media-breakpoint-up(xs){
                margin: 3rem auto;
            }
            @include media-breakpoint-up(xs){
                margin: 7rem auto;
            }
            // color: $aml-primary-color;
            h1{
                font-family: $font-family-segoe-ui-bold-sans-serif;
                margin-bottom: 30px;
            }
            ul{
                display: grid;
                padding:0px;
                margin: 0px;
                margin-top: 30px;
                @include media-breakpoint-up(xs){
                    grid-template-columns: 47% 47%;
                    grid-column-gap: 5.5%;
                    grid-row-gap: 10px;
                }
                @include media-breakpoint-up(md){
                    grid-template-columns: 20% 20% 20% 20% 20%;
                    grid-column-gap: 10px;
                    grid-row-gap: 10px;
                }
                li{
                    list-style: none;
                    font-family: $font-family-segoe-ui-bold-sans-serif;
                    background-color: $aml-primary-color;
                    padding: 7px 15px;
                }
            }
        }
    }
}

#content-gallery{
    @include media-breakpoint-up(md){
        display: grid;
        grid-template-columns: 50% 50%;
        grid-column-gap: 1rem;
    }
    p{
        align-self: end;
        width: 100%;
        img{
            width: 100%;
            height: auto;
        }
    }
    img{
        align-self: end;
    }
}

ul{
    &#sidebar-global-partners{
        .widget-global-partners{
            div{
                &.gallery{
                    @include media-breakpoint-up(md){
                        display: grid;
                        grid-template-columns: 25% 25% 25% 25%;
                        grid-column-gap: 1rem;
                    }
                }
                figure{
                    position: relative;
                    overflow: hidden;
                }
                .gallery-item{
                    width: 100%;
                    border: 1px solid $aml-primary-color;
                    border-radius: 5px 5px 0px 0px;
                    @include media-breakpoint-up(md){
                        border: 1px solid $aml-primary-color;
                    }
                    .gallery-icon{
                        padding: 15px;
                    }
                    img{
                        width: 100%;
                        height: auto;
                        &.size-full{
                            object-fit: scale-down;
                            object-position: center;
                        }
                    }
                    .gallery-caption{
                        @include media-breakpoint-up(md){
                            position: absolute;
                        }                        
                        z-index: 1;
                        width: 100%;
                        bottom: 0;
                        text-align: center;
                        padding: 10px;
                        border-top: 1px solid $aml-primary-color;
                        overflow: hidden;
                    }
                }
            }
        }
    }
    &#scope-of-supply{
        .widget-scope-of-supply{
            div{
                &.gallery{
                    @include media-breakpoint-up(md){
                        display: grid;
                        grid-template-columns: 50% 50%;
                        grid-column-gap: 1rem;
                    }
                }                
                .gallery-item{
                    width: 100%;
                    img{
                        width: 100%;
                        height: auto;
                        object-fit: cover;
                    }
                }
            }
        }
    }
    &#primary-menu{
        li{
            a{
                &.nav-link{
                    text-transform: uppercase;
                    @include media-breakpoint-down(md){
                        padding: 0px 15px;
                    }
                }
            }
        }
    }
}
@include media-breakpoint-down(xs){
    img{
        &.custom-logo{
            width:auto;
            height: auto;
        }                
    }
}
@include media-breakpoint-down(sm){
    img{
        &.custom-logo{
            width:auto;
            height: auto;
        }                
    }
}
@include media-breakpoint-down(md){
    .navbar-brand{
        img{
            &.custom-logo{
                width:216px;
                height: auto;
            }                
        }
    }
}
@include media-breakpoint-down(lg){
    .navbar-brand{
        img{
            &.custom-logo{
                width:216px;
                height: auto;
            }                
        }
    }
}



.nav-link{
    &.active{
        color: $aml-primary-color !important;
    }
}
.site-footer{
    background-color: $aml-secondary-color;
    padding: 15px 0;
    p{
        margin-bottom: 0px !important;
    }
    .footer-brand-name{
        h1{
            color: #1579bd;
            font-size: 28px;
            font-family: $font-family-segoe-ui-bold-sans-serif;
        }
        @include media-breakpoint-down(xs){
            margin-bottom: 15px;
        }
    }
    .footer-brand-content{
        p{
            span{
                &:first-child{
                    color: $aml-primary-color;
                    font-weight: bold;
                }
            }
        }
        
    }
}
.custom_feature_image_style{
    margin-bottom: 30px;
}
h1{
    &.entry-title{
        color: $aml-primary-color;
        font-family: $font-family-segoe-ui-bold-sans-serif;
        font-size: 2rem;
    }
}